.flex_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* ჰედერი */

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.headnav {
    display: flex;
    justify-content: space-around;
}

.headul {
    display: flex;
}

.headtext {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    color: #758BFD;
}

.midtext {
    margin-left: 50px;
    margin-right: 50px;
}

/* სექცია */

section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    background: #DDEAF8;
}

.sectiontitle {
    font-weight: 700;
    font-size: 32px;
    color: #27187F;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.div1 .div2 .div3 .div4 .div5 .div6 {
    width: 30%;
    height: 330px;
    background-color: white;
}

.sectiontext {
    font-weight: 400;
    font-size: 20px;
    color: #133B3A;
}

/* ფუტერი */

footer {
    width: 100%;
    margin: 0 auto;
    background: #758BFD;
    display: flex;
}

.footdiv1 .footdiv2 .footdiv3 .footdiv4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

.foottitle {
    font-weight: 400;
    font-size: 20px;
    color: #00CAD7;
}

.foottext {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}